/*

!.gitignore

!.config
.config/*
!.config/waybar
!.config/starship.toml
!.config/bat
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/themes
!.config/fish/functions
.config/fish/functions/*
!.config/fish/functions/cdls.fish
!.config/fish/functions/fish_greeting.fish
!.config/fish/functions/fuck.fish
!.config/fish/functions/mkcd.fish
!.config/fish/functions/please.fish
!.config/fish/functions/sorry.fish
!.config/fish/functions/micro.fish
!.config/fish/functions/helix.fish
!.config/foot
!.config/gtk-3.0
!.config/gtk-4.0
!.config/micro
.config/micro/backups
.config/micro/buffers
!.config/neofetch
!.config/nushell
.config/nushell/history.*
!.config/rofi
!.config/sway
!.config/swaylock
!.config/waybar
!.icons
!.local
.local/*
!.local/share
.local/share/*
!.local/share/color-shemes
!.local/share/plasma
!.local/share/rofi
!.themes
